body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#nav-background {
  display: flex;
  position: absolute;
  z-index: 0;
  width: 100%;
}

#nav-background-right {
  flex: 1;
  text-align: right;
}
#nav-background-left {
  flex: 1;
  background: linear-gradient(rgb(134, 87, 88), rgb(255, 165, 167));
  text-align: center;
  padding-top: 15%;
  color: rgb(109, 31, 55);
}
#nav-background-right img {
  width: 100%;
  height: 100%;
}
#nav-background-left h1 {
  padding-bottom: 5%;
  font-size: 35px;
  font-weight: 800;
}
#nav-background-left p {
  padding-bottom: 15%;
  font-family: Arial, Helvetica, sans-serif;
}
#nav-bar {
  position: relative;
  z-index: 7;
  display: flex;
  padding-top: 20px;
}
#nav-bar img {
  text-align: left;
  width: 16%;
  padding: 30px;
}

#nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-li {
  padding: 15px;
  color: white;
  font-weight: 600;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
/* Behind the beans local navbar */
#beans-navbar {
  background-color: rgb(181, 17, 68);
  margin-top: 26%;
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
}
#beans-nav-list {
  padding-bottom: 20px;
  padding-left: 110px;
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
}

.beans-nav-li {
  padding-left: 100px;
  color: white;
  font-weight: 800;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
}
/* foooter */
@font-face {
  font-family: Costa Text Regular;
  src: url(https://www.costacoffee.in/static/CostaText-Regular-d819baeadd703ec19dd54fce7aba0a91.woff2)
    format("woff2");
}

#footer-all {
  margin-top: 300px;
}
.footer-productinfo {
  height: 350px;
  background-color: #b51144;
  display: flex;
  margin-top: 500px;
}
.footer-costacoffee {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  font-size: xx-large;
  margin-left: 40px;
  margin-top: 40px;
  font-weight: 500;
}
.footer-costacoffee a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
  font-size: x-large;
}
.footer-dietary-information {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  font-size: xx-large;
  margin-left: 80px;
  margin-top: 40px;
  font-weight: 500;
}
.footer-dietary-information a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
  font-size: x-large;
}
.footer-behindthebeans {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  font-size: xx-large;
  margin-left: 80px;
  margin-top: 40px;
  font-weight: 500;
}
.footer-behindthebeans a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
  font-size: x-large;
}
footer {
  color: rgb(255, 255, 255);
  bottom: 0;
  height: 275px;
  background-color: #6d1f37;
  font-family: "Costa Text Regular", sans-serif;
  font-size: large;
  flex-flow: wrap;
  max-width: 1392px;
  margin: 0px auto;
  padding-left: 50px;
  padding-top: 50px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer-list {
  margin-bottom: 50px;
}
.footer-list p {
  margin-top: 50px;
}
footer ul {
  list-style-type: none;
  left: 0;
}
.social-list {
  display: flex;
  padding: 0;
}
.facebook-icon {
  height: 30px;
  margin-right: 20px;
}
.insta-icon {
  height: 30px;
  margin-right: 20px;
}
